body{
    font-family: sans-serif;
}
#home{
    background-image: url('./images/8.png');
    height: 640px;
    background-position: 89px -70px;
}
#home .signup-box{
    position: relative;
    top: 100px;
    padding: 30px 25px;
    background: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    color: #fff;
}
#home .signup-box h1{
    font-family: 'Bitter', serif;
    font-weight: 700;
    padding: 10px;
    line-height: 52px;
    font-size: 52px;
}
#home .signup-box p{
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 0.8px;
}
#home .signup-box input:nth-child(1){
    width: 280px;
    height: 45px;
}
#home .signup-box input.btn{
    padding: 11.5px 20px;
    margin-left: -5px;
    border-radius: 0px 5px 5px 0 ;
    background-color: #3898EC;
    color: #fff;
    border-color: #3898EC

}
#test1 p{
    padding: 10px 0;
    letter-spacing: 0.9px;
    word-spacing: 1px;
    font-weight: 700;
    font-size:40px;
    text-align: center;
}
#test{
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
    background: #1ebfbd url(./images/robot.png) no-repeat bottom right 100px;
    background-size: 100%;
    clip-path: polygon(0vw 0vw,100% 0vw,100% 35%,0vw calc(100% - 0vw));
    color: rgba(255,255,255,.6);
    font-size: 1.125rem;
    line-height: 1.5;
    font-family: 'HaboroSerif-NorBoo';
    font-weight: 400;
    padding-bottom: 6rem;
}
#test .img{
    position: relative;
    padding: 20px;
}
#test .text-box{
    display: inline-block;
    width: 50%;
    margin-top: 40px;
    color: #fff;
    /*padding: 10px 40px;*/
}
#test .text hr{
    border-color:transparent;
    height: 2px;
    display: block;
    margin: 0;
    width: 300px;
    background-image:linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
#test .text h3{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
}
#test .text p{
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 26px;
}
#test2{
    overflow: hidden;
    background-image: url(./images/bg.png);
    position: relative;
    margin-top: -595px;
    background-size: cover;
    background-origin: border-box;
    background-position: inherit;
    height: 1048px;
}
#test2 .img img{
    width: 450px;

}
#test2 .img{
    position: relative;
    position: relative;
    top: -40px;
    right: -161px;
}
#test2 .slide-text{
    position: relative;
    padding: 10px 25px;
    line-height: 26px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.7px;
    background-image: linear-gradient(to left, rgba(30, 191, 189, 0.82) 0%,rgba(255,255,255,0) 100%);
    top: 570px;
    right: 360px;
    text-align: right;
}
#test3{
    padding: 40px 0;
}
#test3 .img img{
    position: relative;
    width: 550px;
    z-index: 999;
    float: right;
    z-index: 99;
}
#test3 .slide-text{
    position: relative;
    padding: 10px 25px;
    line-height: 26px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.8px;
    word-spacing: 2px;
    background-image: linear-gradient(to left, rgba(30, 191, 189, 0.82) 0%,rgba(255,255,255,0) 60%);
    top: 230px;
    right: 530px;
    text-align: right;
    z-index:0;
}
#test4{
    background-color: #1ebfbd;
    padding: 40px 0;
}
#test4 .text{
    padding: 20px 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 24px;
    letter-spacing: 0.9px;
    line-height:35px;
}
#test5{
    background-color: #1ebfbd;
    z-index: 0;
    position: relative;
}
#test5 .img img{
    width: 730px;
    margin: auto;
}
#test6{
    padding: 40px 0;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 29px;
    margin-top: -115px;
    color: #1ebfbd;
    background: #fff;
    z-index: 9999;
    position: relative;
}
#test6 .text p{
    font-size: 24px;
    letter-spacing: 0.8px;
}
footer#footer{
    padding: 30px 0;
    background-color:#1ebfbd;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}
footer#footer input:nth-child(1){
    width: 370px;
    height: 36px;
    border-radius: 0;
}
footer#footer input.w-button{
 color: #fff;
 border-radius: 0;
 margin-left: -5px;
 background-color: #3898EC;
 border-color:#3898EC;
 font-size: 16px;
}